.vscode
node_modules
config.yml
rough.js
notes.txt
first_phrases.txt
second_phrases.txt
third_phrases.txt
screenshots/
title.txt
description.txt
title-backup.txt
description-backup.txt
to-stream/
videos-to-stream/